---
banner1: {hdg: 'Heading from page(1)',subHdg: 'Sub Heading from page(2)'}
banner2: {hdg: 'Heading from page(3)',subHdg: 'Sub Heading from page(4)'}
---
{{> banner banner1}}

<p>hello world</p>

{{> banner banner2}}